<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jirayu.pond.footreflexology">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.MemoActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.MajorTermActivity" />
        <activity android:name=".activity.MedicalHistoryActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ac9501e33cd0a953452c6e8348aa75947a706845" />

    </application>

</manifest>